@font-face {
    font-family: 'Gobold bold';
    src: url(src/fonts/gobold/Gobold\ Bold.otf);
}

@font-face {
    font-family: 'Gobold thin';
    src: url(src/fonts/gobold/Gobold\ Thin.otf);
}

@font-face {
    font-family: 'Gobold light';
    src: url(src/fonts/gobold/Gobold\ Light.otf);
}

* {
    max-width: 1200px;
    scroll-behavior: smooth;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    color: #fff;
    font-family: 'Gobold thin';
}

a:visited {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo {
    width: 6rem;
    max-width: 25vw;
    /* background-color: #ffffff;
    border-radius: 35%; */
    justify-self: left;
}

header nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

header nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

header .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

header .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}

main h1 {
    background-color: transparent;
    color: black;
    text-shadow: -1px 1px 1px #860A0B;
    text-align: center;
    font-size: 3rem;
    padding: 10px 0 30px;
}

main .container-main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10px;
    margin: 20px;
}

main .container-main div {
    background-color: black;
}

main .container-main div h3 {
    background-color: transparent;
    color: white;
    text-shadow: -1px 1px 1px #860A0B;
    text-align: center;
    font-size: 1.8rem;
}

main .container-main div h1 {
    background-color: transparent;
    color: white;
    text-shadow: -1px 1px 1px #860A0B;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 30px;
}

main .container-main .btn-servicos {
    background-color: #FF462D;
    padding: 20px;
    display: block;
    max-width: 400px;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #860A0B;
    text-shadow: -1px 1px 1px #860A0B;
}


main .container-main img {
    width: 500px;
    border-radius: 20px;
    margin: 20px;
}

.container-quem-somos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-quem-somos img {
    padding: 0;
    max-width: 500px;
    border-radius: 20px;
    margin: 15px;
}

.container-quem-somos div h1 {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0 0 0;
    text-shadow: -1px 1px 1px #860A0B;
}

.container-quem-somos div h3 {
    text-align: center;
    font-size: 1.8rem;
    padding: 20px 0 0 0;
    text-shadow: -1px 1px 1px #860A0B;
}

.container-quem-somos div p {
    font-size: 1.5rem;
    max-width: 600px;
    text-shadow: -1px 1px 10px #860A0B;
    padding: 20px 0 0 0;
    text-align: justify;
}

main .container-discord {
    display: flex;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
}


main .container-discord div h2 {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0 0 0;
    text-shadow: -1px 1px 1px #860A0B;
}

main .container-discord div p {
    font-size: 1.5rem;
    max-width: 600px;
    text-shadow: -1px 1px 10px #860A0B;
    padding: 20px 0 20px 0;
    text-align: justify;
}

main .container-discord div a {
    background-color: #FF462D;
    padding: 20px;
    display: block;
    max-width: 400px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #860A0B;
    text-shadow: -1px 1px 1px #860A0B;
}

main .container-discord img {
    padding: 0;
    max-width: 500px;
    border-radius: 20px;
    margin: 15px;
}

main .container-para-quem {
    background-color: black;
    border-radius: 10px;
    margin: 20px;
    display: block;
    min-height: 750px;
}

main .container-para-quem h2 {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0 0 0;
    text-shadow: -1px 1px 1px #860A0B;
    background-color: transparent;
    color: white;
}

main .container-para-quem ul {
    background-color: transparent;
}

main .container-para-quem ul li {
    border: solid 1px #48B02C;
    margin: 10px auto;
    color: white;
    background-color: transparent;
    padding: 10px;
    /* text-align: center; */
    /* opção de colocar o conteúdo no centro da lista verde */
    text-align: left;
    max-width: 600px;
    font-size: 1.5rem;
    border-radius: 10px;
    text-shadow: -1px 1px 1px #860A0B;
}

main .container-para-quem img {
    max-width: 2rem;
    background-color: transparent;
    margin: 0 5px;
}

main .container-para-quem .btn-contato {
    background-color: #FF462D;
    padding: 20px;
    display: block;
    max-width: 400px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #860A0B;
    text-shadow: -1px 1px 1px #860A0B;
    margin: 30px auto;
}

.container-clientes {
    display: block;
    background-color: black;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 20px;
}

.container-clientes h2 {
    background-color: transparent;
    color: white;
    text-shadow: -1px 1px 1px #860A0B;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 30px 30px 30px;
    font-size: 2.5rem;
}

.container-clientes div {
    background-color: transparent;
}

.container-clientes div div {
    background-color: transparent;
}

.container-clientes div div a {
    background-color: transparent;
}

.container-clientes div div a img {
    background-color: transparent;
    border-radius: 20px;

}

.container-clientes div div a:hover {
    transition: 1s;

}

.container-clientes div div a:not(:hover) {
    opacity: 0.7;
    transition: 1s ease-in-out;

}

.container-clientes .row-img-clientes {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    background-color: transparent;
}

.container-clientes .collum-img-clientes {
    flex: 25%;
    padding: 0px 0px;
}

.container-clientes .collum-img-clientes img {
    vertical-align: middle;
    width: 100%;
    padding: 4px 4px;
}

.container-clientes .btn-clientes {
    background-color: #FF462D;
    padding: 20px 40px;
    display: block;
    max-width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #860A0B;
    text-shadow: -1px 1px 1px #860A0B;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-blog .artigos-blog img {
    border-radius: 10px 10px 0;
}

.container-blog h1 {
    margin: 30px;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: -1px 1px 1px #860A0B;
}

.container-blog .artigos-blog {
    display: flex;
    background-color: #860A0B;
    padding: 50px;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 20px;
}


.container-blog .artigos-blog div {
    display: block;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

/* .container-blog .artigos-blog .tag-blog {
    background-color: #48B02C;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    bottom: 280px;
    left: 50px;
} */

.container-blog .artigos-blog h4 {
    margin: 0 10px 10px 10px;
    text-align: justify;
    font-size: 1.2rem;
    padding: 0 10px 10px 10px;
    text-shadow: -1px 1px 1px #860A0B;
    background-color: transparent;
}

.container-blog .artigos-blog .descricao-artigo {
    font-size: 1rem;
    text-shadow: -1px 1px 10px #860A0B;
    padding: 0 20px 20px 20px;
    text-align: justify;
    background-color: transparent;
}

.container-blog .artigos-blog .btn-blog {
    color: black;
    text-decoration: underline;
    background-color: transparent;
    padding: 20px;
}

.container-blog .artigos-blog .blog-date {
    border-radius: 10px;
    background-color: transparent;
    padding: 20px;
}

.container-servicos h2 {
    margin: 30px;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: -1px 1px 1px #860A0B;
}

.container-servicos .grupo-servicos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 50px 0;
    background-color: #000000;
    justify-content: space-evenly;
    border-radius: 10px;
}

.container-servicos .servico-unidade {
    border-radius: 10px;
    background-color: #860A0B;
    margin: 20px;
    width: 250px;
    height: 350px;
}

.container-servicos img {
    border-radius: 10px 10px 0 0;
    max-width: 250px;
}

.container-servicos .grupo-servicos .servico-unidade div {
    background-color: transparent;
}

.container-servicos .grupo-servicos .servico-unidade div p {
    text-shadow: -1px 1px 1px #000000;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0.5rem 0 0.5rem;
    color: white;
    background-color: transparent;
}

.container-servicos .btn-servicos {
    background-color: #FF462D;
    padding: 20px 40px;
    display: block;
    max-width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 1px #860A0B;
    text-shadow: -1px 1px 1px #860A0B;
    margin: 20px auto 0 auto;
}

.container-contato {
    background-color: #860A0B;
    margin: 50px 20px;
    border-radius: 10px;
}

.container-contato div {
    background-color: transparent;
    font-size: 1rem;
}

.container-contato h1 {
    background-color: transparent;
    color: #fff;
    text-shadow: -1px 1px 10px #000;
    text-align: center;
}

::placeholder {
    color: #bbbbbb;
    padding: 5px 0 0 5px;
    background-color: transparent;
}

.container-contato .div-form {
    max-width: 1000px;
    padding: 30px 10px;
}

.container-contato form {
    background-color: transparent;
    text-align: center;
}

.container-contato form ::placeholder {
    padding: 5px;
    font-family: 'Gobold light';
    font-size: 13px;
    color: white;
}

.container-contato form .lbl-nome {
    background-color: transparent;

}

.container-contato form .lbl-tel {
    background-color: transparent;

}

.container-contato form .lbl-mensagem {
    background-color: transparent;
    position: relative;
    bottom: 2px;
}

.container-contato form div {
    background-color: transparent;
    margin: 5px auto;
}

.container-contato form #nome {
    border: #FF462D85 solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    margin: 5px 0;
    padding: 2px;
    background-color: #FF462D85;
}

.container-contato form #telefone-ou-email {
    border: #FF462D85 solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    margin: 5px 0;
    padding: 2px;
    background-color: #FF462D85;
}

.container-contato form #mensagem {
    border: #ff452d85 solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 2px;
    background-color: #FF462D85;
}

.container-contato button {
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background-color: #FF462D;
    color: white;
    box-shadow: -2px 2px 2px black;
    margin: auto;
}

.container-contato button:hover {
    background-color: black;
    color: white;
    box-shadow: -2px 2px 2px #FF462D;
    transition: 0.8s;

}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .logo {
    width: 6rem;
    max-width: 25vw;
    /* background-color: #ffffff;
    border-radius: 35%; */
    justify-self: left;
}

footer nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

footer nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

footer .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

footer .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}

.copyright {
    text-align: center;
}