@font-face {
    font-family: 'Gobold bold';
    src: url(src/fonts/gobold/Gobold\ Bold.otf);
}

@font-face {
    font-family: 'Gobold thin';
    src: url(src/fonts/gobold/Gobold\ Thin.otf);
}

@font-face {
    font-family: 'Gobold light';
    src: url(src/fonts/gobold/Gobold\ Light.otf);
}

* {
    max-width: 1200px;
    scroll-behavior: smooth;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    color: #fff;
    font-family: 'Gobold thin';
}

a:visited {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header .logo {
    width: 6rem;
    max-width: 25vw;
    background-color: #ffffff;
    border-radius: 35%;
    justify-self: left;
}

header nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

header nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

header .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

header .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}

.container-cliente-1 {
    background-color: black;
    border-radius: 10px;
    margin: 30px 0;
}

.container-cliente-1 h2 {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 30px;
}

.CSSgal {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 10px 20px;
    padding:0
    /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

.CSSgal .slider div {
    background:black;
}

/* SLIDES */

.CSSgal .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.CSSgal .prevNext>div+div {
    visibility: hidden;
    /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
    background: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* If you want to place numbers */
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.CSSgal .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.CSSgal .bullets>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.CSSgal .bullets>a+a {
    background: rgba(255, 255, 255, 0.5);
    /* Dim all but first */
}

.CSSgal .bullets>a:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal>s:target~.bullets>* {
    background: rgba(255, 255, 255, 0.5);
}

/* ACTIVE */
#c1-s1:target~.bullets>*:nth-child(1) {
    background: rgba(255, 255, 255, 1);
}

#c1-s2:target~.bullets>*:nth-child(2) {
    background: rgba(255, 255, 255, 1);
}

#c1-s3:target~.bullets>*:nth-child(3) {
    background: rgba(255, 255, 255, 1);
}

#c1-s4:target~.bullets>*:nth-child(4) {
    background: rgba(255, 255, 255, 1);
}

#c1-s5:target~.bullets>*:nth-child(5) {
    background: rgba(255, 255, 255, 1);
}

#c1-s6:target~.bullets>*:nth-child(6) {
    background: rgba(255, 255, 255, 1);
}

#c1-s7:target~.bullets>*:nth-child(7) {
    background: rgba(255, 255, 255, 1);
}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal>s:target~.prevNext>* {
    visibility: hidden;
}

/* ACTIVE: */
#c1-s1:target~.prevNext>*:nth-child(1) {
    visibility: visible;
}

#c1-s2:target~.prevNext>*:nth-child(2) {
    visibility: visible;
}

#c1-s3:target~.prevNext>*:nth-child(3) {
    visibility: visible;
}

#c1-s4:target~.prevNext>*:nth-child(4) {
    visibility: visible;
}

#c1-s5:target~.prevNext>*:nth-child(5) {
    visibility: visible;
}

#c1-s6:target~.prevNext>*:nth-child(6) {
    visibility: visible;
}

#c1-s7:target~.prevNext>*:nth-child(7) {
    visibility: visible;
}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#c1-s1:target~.slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#c1-s2:target~.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#c1-s3:target~.slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#c1-s4:target~.slider {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}

#c1-s5:target~.slider {
    transform: translateX(-400%);
    -webkit-transform: translateX(-400%);
}

#c1-s6:target~.slider {
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
}

#c1-s7:target~.slider {
    transform: translateX(-600%);
    -webkit-transform: translateX(-600%);
}

/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal {
    color: #fff;
    text-align: center;
}

.CSSgal .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}

.CSSgal a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.container-cliente-1 .btn-cliente-1 {
    background-color: transparent;
}


.container-cliente-2{
    background-color: black;
    margin: 30px 0;
    border-radius: 10px;
}

.container-cliente-2 h2{
    background-color: transparent;
    color: white;
    text-align: center;
}

/* copia do css para o cliente 2 */

.CSSgal {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 10px 20px;
    padding:0
    /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

.CSSgal .slider div {
    background:black;
}

/* SLIDES */

.CSSgal .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}

.CSSgal .prevNext>div+div {
    visibility: hidden;
    /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
    background: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* If you want to place numbers */
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.CSSgal .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.CSSgal .bullets>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.CSSgal .bullets>a+a {
    background: rgba(255, 255, 255, 0.5);
    /* Dim all but first */
}

.CSSgal .bullets>a:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal>s:target~.bullets>* {
    background: rgba(255, 255, 255, 0.5);
}

/* ACTIVE */
#c2-s1:target~.bullets>*:nth-child(1) {
    background: rgba(255, 255, 255, 1);
}

#c2-s2:target~.bullets>*:nth-child(2) {
    background: rgba(255, 255, 255, 1);
}

#c2-s3:target~.bullets>*:nth-child(3) {
    background: rgba(255, 255, 255, 1);
}

#c2-s4:target~.bullets>*:nth-child(4) {
    background: rgba(255, 255, 255, 1);
}

#c2-s5:target~.bullets>*:nth-child(5) {
    background: rgba(255, 255, 255, 1);
}

#c2-s6:target~.bullets>*:nth-child(6) {
    background: rgba(255, 255, 255, 1);
}

#c2-s7:target~.bullets>*:nth-child(7) {
    background: rgba(255, 255, 255, 1);
}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal>s:target~.prevNext>* {
    visibility: hidden;
}

/* ACTIVE: */
#c2-s1:target~.prevNext>*:nth-child(1) {
    visibility: visible;
}

#c2-s2:target~.prevNext>*:nth-child(2) {
  visibility: visible;
}

#c2-s3:target~.prevNext>*:nth-child(3) {
    visibility: visible;
}

#c2-s4:target~.prevNext>*:nth-child(4) {
    visibility: visible;
}

#c2-s5:target~.prevNext>*:nth-child(5) {
    visibility: visible;
}

#c2-s6:target~.prevNext>*:nth-child(6) {
    visibility: visible;
}

#c2-s7:target~.prevNext>*:nth-child(7) {
    visibility: visible;
}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#c2-s1:target~.slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#c2-s2:target~.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#c2-s3:target~.slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#c2-s4:target~.slider {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}

#c2-s5:target~.slider {
    transform: translateX(-400%);
    -webkit-transform: translateX(-400%);
}

#c2-s6:target~.slider {
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
}

#c2-s7:target~.slider {
    transform: translateX(-600%);
    -webkit-transform: translateX(-600%);
}

/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal {
    color: #fff;
    text-align: center;
}

.CSSgal .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}

.CSSgal a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.container-cliente-1 .btn-cliente-1 {
    background-color: transparent;
}
 */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .logo {
    width: 6rem;
    max-width: 25vw;
    /* background-color: #ffffff;
    border-radius: 35%; */
    justify-self: left;
}

footer nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

footer nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

footer .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

footer .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}