@font-face {
    font-family: 'Gobold bold';
    src: url(src/fonts/gobold/Gobold\ Bold.otf);
}

@font-face {
    font-family: 'Gobold thin';
    src: url(src/fonts/gobold/Gobold\ Thin.otf);
}

@font-face {
    font-family: 'Gobold light';
    src: url(src/fonts/gobold/Gobold\ Light.otf);
}

* {
    max-width: 1200px;
    scroll-behavior: smooth;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    color: #fff;
    font-family: 'Gobold thin';
}

a:visited {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo {
    width: 6rem;
    max-width: 25vw;
    /* background-color: #ffffff;
    border-radius: 35%; */
    justify-self: left;
}

header nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

header nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

header .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

header .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}

.contato h1{
    font-size: 2rem;
    text-shadow: -1px 1px 1px #860A0B;
    padding: 30px;
    text-align: center;
}

.contato-empresa {
    text-align: center;
    font-size: 1rem;
    text-shadow: -1px 1px 10px #860A0B;
    padding: 20px;
}

.info-contato{
    text-align: center;
    font-size: 1rem;
    text-shadow: -1px 1px 10px #860A0B;    padding-bottom: 20px;
}

.contato-empresa span{
    font-weight: 800;
}

.form-contato{
    padding: 20px;
}

.form-contato #nome{
    border: #860A0B solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    margin: 5px;
    padding: 2px;
    background-color: #860A0B80;
}

.form-contato ::placeholder{
    padding: 5px;
    font-family: 'Gobold light';
    font-size: 13px;
    color: white;
}

.form-contato #telefone{
    border: #860A0B solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    margin: 5px;
    padding: 2px;
    background-color: #860A0B80;
}

.form-contato #email{
    border: #860A0B solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    margin: 5px;
    padding: 2px;
    background-color: #860A0B80;
}

.form-contato #mensagem{
    border: #860A0B solid 2px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 400px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 2px;
    background-color: #860A0B80;
}

.form-contato button{
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background-color: #860A0B;
    color: white;
    box-shadow: -2px 2px 2px black;
    margin: auto;
}

.form-contato button:hover{
    background-color: black;
    color: white;
    box-shadow: -2px 2px 2px #860A0B;
    transition: 0.8s;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .logo {
    width: 6rem;
    max-width: 25vw;
    /* background-color: #ffffff;
    border-radius: 35%; */
    justify-self: left;
}

footer nav ul {
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
}

footer nav ul li a {
    background-color: #860A0B;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 45px;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;

}

footer .redes-sociais {
    /* columns: 4; */
    display: flex;
    flex-wrap: wrap;
    width: 180px;

}

footer .redes-sociais li a {
    color: #fff;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #860A0B;
}

.copyright{
    text-align: center;
}